.padre-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;

}

.padre-galeria img {
    width: 350px;
    height: 500px;
    border-radius: 3px;
}

.video-galeria {
    
    margin-top: 100px;
    margin: 0 auto;

}