.navbar-nav  {
    margin: 0 auto;
    color: rgb(165, 177, 175);
    width: 50%;
    text-align: center;
    font-size: 30px;
    justify-content: space-evenly;
    
}


#fuente-index {
    font-family: "duke-fuente";
    font-size: 90px;
}

.informacion {
    margin: 0 auto;
    color: rgb(165, 177, 175);
    width: 50%;
    text-align: center;
    font-size: 15px;

}
